@model MvcClient.ViewModels.ItemCategoryViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.PictureUrl" class="control-label"></label>
                <input asp-for="Item.PictureUrl" class="form-control" type="file" enctype='multipart/form-data'/> 
                  @* <input type="file" asp-for="Item.PictureUrl" class="form-control" enctype='multipart/form-data'/> *@
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control"/> 
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3"><label asp-for="Item.Category" class="control-label"></label></div>
                    <div class="col-md-7">
                        @Html.DropDownListFor(n =>n.Item.CategoryId,
                         new SelectList(Model.Categories, "CategoryId", "CategoryName", 1),
                         new { @class = "form-control" })
                    </div>
                </div>
                @* <input asp-for="Item.Category" class="form-control"/>  *@
                <span asp-validation-for="Item.Category" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="Item.UnitPrice" class="control-label"></label>
                <input asp-for="Item.UnitPrice" class="form-control"/> 
                <span asp-validation-for="Item.UnitPrice" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control"/> 
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}