@model MvcClient.ViewModels.ItemCategoryViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row" style="text-align: justify;">
        <h1>Create</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group"> 
                    <label asp-for="ImageURL" class="control-label"></label>  
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file"> 
                            <input asp-for="ImageURL" class="custom-file-input" >  
                            <label class="custom-file-label" for="customFile">Choose file</label>  
                        </div>
                    </div>
                    <span asp-validation-for="ImageURL" class="text-danger"></span>  
                </div> 
                <img src="" id="displayImage" height="300px" width="300px"/>
                <div class="form-group">
                    <label asp-for="Item.Name" class="control-label"></label>
                    <input asp-for="Item.Name" class="form-control"/> 
                    <span asp-validation-for="Item.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Item.Category" class="control-label"></label>
                    @Html.DropDownListFor(n =>n.Item.CategoryId,
                    new SelectList(Model.Categories, "CategoryId", "CategoryName", 1),
                    new { @class = "custom-select" })
                    <span asp-validation-for="Item.Category" class="text-danger"></span>
                </div>    
                <div class="form-group">
                    <label asp-for="Item.UnitPrice" class="control-label"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Item.UnitPrice" class="form-control"/>
                    </div>
                    <span asp-validation-for="Item.UnitPrice" class="text-danger"></span>
                </div>    
                <div class="form-group">
                    <label asp-for="Item.Description" class="control-label"></label>
                    @* <input asp-for="Item.Description" class="form-control" />  *@
                    <textarea asp-for="Item.Description" class="form-control" aria-label="With textarea"></textarea>
                    <span asp-validation-for="Item.Description" class="text-danger"></span>
                </div>    
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
        
    <div class="row">
        <a asp-action="Index">Back to list</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">  
        // Add the following code if you want the name of the file appear on select  
        $(".custom-file-input").on("change", function () {  
            var fileName = $(this).val().split("\\").pop();  
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);  
        });  
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#displayImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ImageURL").change(function(){
            readURL(this);
        });
    </script>  
}
