@using MvcClient.Services
@inject IIdentityService<Buyer> identityService

@{
    ViewData["Title"] = "My Cart";
}
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        @await Component.InvokeAsync("BasketList", new { user = identityService.Get(User) })

@section Scripts{
    <script>
        $(document).ready(function(){
            function loadCart(){
                $.ajax({
                    method: 'GET',
                    url: '@Url.Action("Cart","Cart")',
                    success: function(data){
                        var count = 0;
                        html = '';
                        for(i=0; i<data.cartItems.length;i++){
                            count += 1;
                            html += '<tr>';
                            html += '   <td class="shoping__cart__item">';
                            html += '      <img class="item_picture" src="img/product/'+data.cartItems[i].pictureUrl+'"/></td>';
                            html += '   <td><h5>'+data.cartItems[i].itemName+'</h5></td>';
                            html += '   </td>';
                            html += '   <td class="shoping__cart__price">$ '+data.cartItems[i].unitPrice+'</td>';
                            html += '   <td class="shoping__cart__quantity">';
                            html += '       <div class="quantity">';
                            html += '           <div class="pro-qty">';
                            html += '               <input min="1" disabled type="number" data-val="true" data-val-required="The Quantity field is required." id="item_Quantity_'+i+'" name="item.Quantity" value="'+data.cartItems[i].quantity+'"/>';
                            html += '           </div>';
                            html += '       </div>';
                            html += '       <input type="hidden" name="quantities[' + i + '].Key" value="'+data.cartItems[i].id+'" />';
                            html += '   </td>';
                            html += '   <td class="shoping__cart__total">$ '+(data.cartItems[i].quantity * data.cartItems[i].unitPrice)+'</td>';
                            html += '   <td class="shoping__cart__item__close clear_item" id="'+data.cartItems[i].id+'">';
                            html += '       <span class="icon_close"></span>';
                            html += '   </td>';
                            html += '</tr>';
                            if (data.cartItems[i].oldUnitPrice != 0)
                                {
                                    html +='<div class="alert alert-warning esh-basket-margin12" role="alert">';
                                    html +='    Note that the price of this article changed in our Catalog. The old price when you originally added it to the basket was $'; 
                                    html += data.cartItems[i].oldUnitPrice; 
                                    html += '</div>';
                                }
                            }
                        html +='<input type="hidden" id="length_cart" value="'+count+'">';

                        $("#cart_body").html('');
                        $("#cart_body").html(html);
                        var proQty = $('.pro-qty');
                        proQty.prepend('<span class="dec qtybtn">-</span>');
                        proQty.append('<span class="inc qtybtn">+</span>');
                        proQty.on('click', '.qtybtn', function () {
                            var $button = $(this);
                            var oldValue = $button.parent().find('input').val();
                            if ($button.hasClass('inc')) {
                                var newVal = parseFloat(oldValue) + 1;
                            } else {
                                // Don't allow decrementing below zero
                                if (oldValue > 0) {
                                    var newVal = parseFloat(oldValue) - 1;
                                } else {
                                    newVal = 0;
                                }
                            }
                            $button.parent().find('input').val(newVal);
                        });
                    },

                    error: function(xhr){
                        alert(xhr);
                    }
                })
            }
            $(document).on('click','.clear_item',function(){
                var action = "[ Clear Item ]";
                var id = $(this).attr('id'); 
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("AllACtion","Cart")',
                    data: {action: action, id: id},
                    success: function(data){
                        loadCart();
                    },
                    error: function(xhr){
                        alert(xhr);
                    }
                })
            })
            $(document).on('click','.update_cart',function(){
                var quantities = {}
                var action = '[ Update ]';
                var length = $("#length_cart").val();
                for(i=0;i<length;i++){
                    var quantity = $("#item_Quantity_"+i+"").val();
                    var itemId = $('input[name="quantities['+i+'].Key"]').val();
                    quantities[itemId] = quantity;
                }
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("AllAction","cart")',
                    data: {action:action, quantities:quantities},
                    success: function(data){
                        loadCart();
                    },
                    error: function(xhr){
                        alert(xhr);
                    }
                })
            })
        });
    </script>
}