
@model MvcClient.Models.User;
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" asp-controller="User" asp-action="ProfileAdminUpdate" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* start input hidden *@
                <input type="hidden" asp-for="UserId"/> 
                <input type="hidden" asp-for="UserName"/>
                <input type="hidden" asp-for="Password"/> 
                <h3>Account</h3>
                <div class="form-group">
                    <div class="col-sm-8 mb-3">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control"/> 
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Change Password</label>
                </div>
                <br />
                <div id="changePassword" style="display:none">
                    @* <div class="form-group">
                        <div class="col-sm-8 mb-3">
                            <label asp-for="OldPassword" class="control-label"></label>
                            <input asp-for="OldPassword" class="form-control"/> 
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div> *@
                    <div class="form-group">
                        <div class="col-sm-8 mb-3">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control"/> 
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 mb-3">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control"/> 
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                
                 @* end input hidden  *@
                <hr />
                <h3>User Profile </h3>
                <div class="form-group"> 
                    <label asp-for="ImageURL" class="control-label"></label>  
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file"> 
                            <input asp-for="ImageURL" class="custom-file-input" >  
                            <label class="custom-file-label" for="customFile">@Model.PictureUrl</label>  
                        </div>
                    </div>
                    <span asp-validation-for="ImageURL" class="text-danger"></span>  
                </div> 
                <div class="from-group">
                     @{string PictureURLPath = @Url.Content("~/img/user/"+@Model.PictureUrl);}
                    <img src="@PictureURLPath" id="displayImage" height="300px" width="300px"/>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-sm-6 mb-3">
                            <label asp-for="FamilyName" class="control-label"></label>
                            <input asp-for="FamilyName" class="form-control"/> 
                            <span asp-validation-for="FamilyName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label asp-for="GivenName" class="control-label"></label>
                            <input asp-for="GivenName" class="form-control"/> 
                            <span asp-validation-for="GivenName" class="text-danger"></span>
                        </div>
                    </div>  
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-sm-6 mb-3">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" type="email"/> 
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" type="tel"/> 
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>  
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label asp-for="Address.StreetAddress" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="Address.StreetAddress">
                            <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Address.Locality" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="Address.Locality">
                            <span asp-validation-for="Address.Locality" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Address.City" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="Address.City">
                            <span asp-validation-for="Address.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label asp-for="Address.Country" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="Address.Country">
                            <span asp-validation-for="Address.Country" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Address.PostalCode" class="control-label"></label>
                            <input type="text" class="form-control" asp-for="Address.PostalCode">
                            <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-sm-6 mb-3">
                            <label asp-for="Website" class="control-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">https://</span>
                                </div>
                                <input asp-for="Website" class="form-control" type="text"/> 
                            </div>
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label asp-for="Role" class="control-label"></label>
                            <input asp-for="Role" class="form-control" type="text" disabled/> 
                        </div>
                    </div>  
                </div>     
                <div class="form-group btn-group mb-xl-3">
                    <a type="button" class="btn btn-outline-primary mb-3" asp-action="Index" asp-controller="admin">Back</a>
                    <input type="submit" value="Save" class="btn btn-primary mb-3"/>
                </div> 
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript"> 
        $(document).ready(function(){
            $(".custom-file-input").on("change", function () {  
                var fileName = $(this).val().split("\\").pop();  
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);  
            }); 
            $("#customCheck2").change(function() {
                if (this.checked) {
                     $("#changePassword").css("display", "block");
                }else{
                    $("#changePassword").css("display", "none");
                }
            });
        });   
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#displayImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ImageURL").change(function(){
            readURL(this);
        });
    </script> 
}