@model CartComponentViewModel

<li>
    <a asp-action="Index" asp-controller="Cart"><i class="fa fa-shopping-bag"></i>
        @Model.ItemsInCart 
    </a>
    <div class="header__cart__price">
        @* <img src="~/images/cart.png"/> *@
        Total: <span></span>
    </div>
</li>
@* <a class="esh-basketstatus @Model.Disabled" asp-action="Index" asp-controller="Cart">
    
</a> *@