@model CartComponentViewModel

<a class="esh-basketstatus @Model.Disabled" asp-action="Index" asp-controller="Cart">
    <li><a href="#"><i class="fa fa-shopping-bag"></i> 
    @*  <span>3</span> *@
    </li>
    <div class="header__cart__price">
        @* <img src="~/images/cart.png"/> *@
        item: <span>$150.00</span>
    </div>
    <div class="esh-basketstatus-badge">
        @Model.ItemsInCart
    </div>
</a>