@model CartComponentViewModel
<li >
    <a  asp-action="Index" style="cursor:pointer" asp-controller="Cart"><i class="fa fa-shopping-bag"></i>
        <span id="loadCart">@Model.ItemsInCart</span> 
    </a>
</li>
<li >
    <div class="header__cart__price">
        @* <img src="~/images/cart.png"/> *@
        Total: <span id="loadTotal">$@Model.TotalCost.ToString("N1")</span>
    </div>
</li>

@* <a class="esh-basketstatus @Model.Disabled" asp-action="Index" asp-controller="Cart">
    
</a> *@