@if(User.IsInRole("Sales") || User.IsInRole("Managers") || User.IsInRole("Administrators"))
{
    <li >
        
        @* <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
            data-toggle="dropdown" aria-haspopup="true" arai-expanded="false"> 
        </a> *@
        

    </li>
}
