@if(User.IsInRole("Sales") || User.IsInRole("Managers") || User.IsInRole("Administrators"))
{
    <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" arai-expanded="false">
            Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a  asp-action="Index" asp-controller="Item" class="dropdown-item">Items</a>
        </div>
    </li>
}
