@using MvcClient.Services
@inject IIdentityService<Buyer> identityService
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        @* <a href="#"><i class="fa fa-user"></i> Login</a> *@
        <a  class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" arai-expanded="false">
            
            Hello @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a asp-action="Index" asp-controller="Order" class="dropdown-item">Orders</a>
            <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Logout</a>
        </div>
    </li>
    @await Component.InvokeAsync("Basket", new { user = identityService.Get(User) })
} 
else 
{
    <div class="header__top__right__auth">
        <a class="nav-link text-dark" asp-action="Privacy" asp-controller="Home"><i class="fa fa-user"
        ></i>Login</a>
    </div>
}
