@model BuyerViewModel

<div class="hero__categories">
    
    <div class="hero__categories__all">
        <span>Menu - @Model.buyer.FirstName</span>
    </div>
    <ul>
        <li><a asp-action="Account" asp-controller="User">Account</a></li>
        <li><a asp-action="Profile" asp-controller="User">Profiles</a></li>
        <li><a asp-action="Index" asp-controller="Order">Orders</a></li>
    </ul>
</div>
