@model BuyerViewModel
<div class="product__discount__item" style="margin-bottom:20px">
    <div class="product__discount__item__pic set-bg" data-setbg="/img/cart/cart-1.jpg"  > 
        <ul class="product__item__pic__hover">
            <li><a href="#"><i class="fa fa-wrench"></i></a></li>
        </ul>
    </div>
</div>
<div class="hero__categories">
    
    <div class="hero__categories__all">
        <span>Menu</span>
    </div>
    <ul>
        <li><a asp-action="Account" asp-controller="User">Account</a></li>
        <li><a asp-action="Profiles" asp-controller="User">Profiles</a></li>
        <li><a asp-action="Index" asp-controller="Order">Orders</a></li>
    </ul>
</div>